.App {
  text-align: center;
  overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.action{ 
  transform: translateX(0%);
  animation: slide-right 800ms forwards;
  }

.actionl{ 
  transform: translateX(0%);
  animation: slide-left 800ms forwards;
  }

@keyframes slide-right {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  100% {
    transform: translateX(100%);
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hide {
    opacity:0;
   
}
.show {
    opacity:1;
}